
/********** HOLY GRAIL START **********/
body {
  min-width: 408px;      /* 2x LC width + RC width */
  overflow: scroll; /* Prevent change of layout when scrollbar changes, no known better solution than to force it on */
}
#container {
	clear:both;
	padding-left: 190px;   /* LC width */
}
#container .post_list, #container .post {
	position: relative;
	float: left;
	width: 100%;
}
#container aside.post_list_info, #container aside.post_info{
	position: relative;
	float: left;
	width: 185px;          /* LC width */
	right: 190px;          /* LC width */
	margin-right: -190px; /* seems to fix issue with this box affecting .comments*/
	margin-left: -100%;
}
footer { clear: both; }


@media screen and (min-width:1290px){
	/* TODO: find good width value */
	.has_comments{
		padding-right: 308px;   /* RC width */
	}
	#container div.comments{
		position: relative;
		float: left;
		width: 292px;          /* LC width */
		margin-right: -300px;
		margin-left: 8px;
	}
}
/********** HOLY GRAIL END **********/



/********** GLOBAL START **********/
body{
	background-color: #000000;
	color: white;
	font-family: verdana, sans-serif;
	font-size: 80%;
	overflow-x:hidden; /* FIX: images sticking out of body on hover causes rearange */
}
a{
	color: #EE8887;
	text-decoration: none;
}
a:visited{ color: #EE8887; }
a:hover{ color: #FFAAAE; }
a:active{ color: #006FFA; }

a img{ border:none; } /* annoying IE (and firefox?) behaviour */

h2:first-child, h3:first-child{ margin-top:0; }
h2, h3{ margin-bottom: 0; }
p{ margin:0; }
ul{
	list-style-type: square;
	margin: 0;
	padding-left: 15px;
}
/********** GLOBAL END **********/


/********** HEADER START **********/
header nav ul, header nav ul li{ margin:0; padding:0; list-style:none; }

header nav > ul > li{ float: left; }
header nav ul li{
	padding: 0 5px 5px 0;
	border-radius:5px;
}
/********** HEADER END **********/


/********** Front page START **********/
#front h1{
	text-align:center;
}
#front img{
	display:block;
	margin: 20px auto;
}
/********** Front page END **********/


/********** Header START **********/
header > nav > ul{
	
}
header > nav li > ul{
	position:absolute;
	z-index:1;
	background-color: black;
	display:none;
	border: 2px solid #222;
	padding-top: 5px;
}
header > nav li:hover > ul{
	display:block;
}
header > nav li > ul > li{
	padding-left: 5px;
}

/**** search bar ****/
fieldset{
	margin:0;
	padding:0;
	border:none;
}
header nav li form{ float:right; }
#search{
	border:none;
	background-color:#222;
	color:white;
}
/********** Header END **********/


/********** POST LIST START **********/
.post_list li{ position:relative; }
.post_list ul{ margin:0; padding:0; list-style:none; }
.post_list li .details{ display:none; }
.post_list li a{ display:block; }

.post_list li{
	float:left;
	margin: 0 5px 5px 0;
	padding:0;
}
.post_list li > a{
	border:2px solid gray;
	padding:5px;
	border-radius:5px;

}
.post_list > ul > li > a{
	/* Make thumbs centered */
	width:150px;
	height:150px;
	line-height:150px;
	display:block;
	text-align:center;
}
.post_list li > a img{
	max-width:150px;
	max-height:150px;
	vertical-align: middle;
}
.post_list li:hover a img{
	position:relative;
	z-index:100;
	max-width:none;
	max-height:none;
	pointer-events: none;
}
.post_list li a{
	background-color: #000000;
}
.post_list li a:visited{
	background-color:rgb( 187,0,0 );
}
/*** Show details on hover ***/
.post_list a:hover + .details{
	position:absolute;
	display:block;
	width:190px;
	left:-190px;
	top:0px;
	
	background-color: #222222;
	z-index:1;
}
.post_list .details span{
	display: inline;
	word-wrap: break-word;
}

@media screen and (min-width:1290px), screen and (min-height:1200px) {
	.size_medium > ul > li > a{
		width:192px;
		height:192px;
		line-height:192px;
	}
	.size_medium li > a img{
		max-width:192px;
		max-height:192px;
	}
}


/*** post relations ***/
.post_list ul li > a.has_parent{ border-color:yellow; }
.post_list ul li > a.has_children{ border-color:green; }
.post_list ul li > a.is_pending{ border-color:blue; }
.post_list ul li > a.is_flagged{ border-color:red; }
.post_list ul li > a.saved{ background-color:rgb( 0,0,187 ); }

.post_list ul li > a.has_parent{ border-left-color:yellow; border-top-color:yellow; }
.post_list ul li > a.has_children{ border-left-color:green; border-bottom-color:green; }
.post_list ul li > a.is_pending{ border-right-color:blue; border-bottom-color:blue; }
.post_list ul li > a.is_flagged{ border-right-color:red; border-top-color:red; }

.post_list ul li > a.has_parent{ border-top-color:yellow; }
/********** POST LIST END **********/

/********** POST LIST INFO START **********/
.post_list_info ul li > a > span, .post_info ul li > a > span{
	color: #777;
	margin-left: 4px;
	font-size: 70%;
}
/********** POST LIST INFO END **********/


/********** POST LIST DETAILS START **********/
/* Start overriding stuff from POST LIST*/
.post_list_details li{
	float:none;
	clear:both;
	min-height: 160px;
	border-top: 2px solid red;
	margin:0;
}
.post_list_details li a img{
	-o-object-fit:none;
	width:auto;
	height:auto;
}
.post_list_details li a{
	border:none; margin:0;
}
.post_list_details li div.details{
	display:block;
	padding: 5px;
}
.post_list_details li div p{
	padding:0;
	margin:0 0 3px 0;
}


.post_list_details li a{
	float:left;
}

.post_list .details em{
	font-weight:bold;
	margin-right: 4px;
}
.post_list .details p:first-line{
	text-indent:0;
}
.post_list .details p{
	padding-left:10px;
	text-indent:-10px;
}
.post_list .details p+p{
	margin-top:1px;
}

/********** POST LIST DETAILS END **********/



/********** POST START **********/
.post_parent img, .post_children img{
	max-width:150px;
	max-height:150px;
}
.post_parent img:hover, .post_children img:hover{
/*	max-width:none;
	max-height:none; */
	-o-object-fit:none;
	-o-object-position:left center;
	position:relative;
	z-index:100;
}

.post .container{
	display:inline-block;
	position:relative;
	max-width:100%;
}
.post .container video{
	max-width:100%;
}
.post_info em{
	font-weight:bold;
	margin-right: 4px;
}
.post_info p:first-line{
	text-indent:0;
}
.post_info p{
	padding-left:10px;
	text-indent:-10px;
}
.post_info p+p{
	margin-top:1px;
}

/* Make the preview resize with the browser window */
/* Notice that this requires each div to have 'height:100%'. */
/* #container have been set to 95% to make the image approax */
/* fit under the header and avoid extra padding in bottom. */
/*
html, body, #container > .post, #container > .post > .container, #container > .post > .container > a{height:100%;}
.post .container img{max-height:100%}
#container{height:95%;}
*/
body{margin: 0 0 0 5px;}
header{ padding-top: 5px; }
.post .container img{
	max-width:100%;
}

/* Make it possible to tell the image is transparent with a checker-box pattern
 * 
 * NOTE: To make it transition on hover, it had to be done on the parent
 * instead of the img, which might cause issues. A fairly restrictive selector
 * is used as an attempt to counter that. */
.post .container a:first-child:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
	
	/* The actual pattern pattern */
	background-color:#555;
	background-size:24px 24px;
	background-position:0 0, 12px 12px;
	background-image:
		linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444),
		linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%, #444);
	
	/* Create a smooth transition on hover */
	transition: opacity 0.4s linear;
}
.post .container a:first-child:hover:before{ opacity:0; }
.post .container a:first-child{ display:block; font-size:0; } /* Fix <a> being too large */

.post .container object{
	display:block;
}
.post .container div{
	display:block;
	position:absolute;
	background-color:#ffffee;
	background-color:rgba(255,255,238,0.5);
	border:1px solid black;
}
.post .container div div{ display:none; }
.post .container div:hover div{
	display:inline;
	z-index:1;
	top:100%;
	left:0;
	color:black;
	background-color:#ffffee;
	width:auto;
	max-width:200px;
}
/*** COMMENTS START ***/
.comments article{
	margin-bottom: 10px;
}
.comments time{
	color:gray;
}
/*** COMMENTS END ***/
/********** POST END **********/



/********** PAGE NAV START **********/
nav.page_nav{
	clear:both;

	float:right;
	position:relative;
	left:-50%;
	text-align:left;
}
nav.page_nav ul{ 
	position:relative;
	left:50%;
}
nav.page_nav li{
	display:block;
	float:left;
	clear:none;
	margin: 0 5px 0 0;
	padding: 5px;
	
	line-height: 30px;
	min-height: 30px;
	height: 30px;
	width: 30px;
	text-align:center;
	
	border: 2px solid red;
	border-radius: 2px;
}
nav.page_nav a{
	float:none;
	border: none;
	padding:0;
	margin:0;
}
/********** PAGE NAV END **********/



/********** TAGS START **********/
.tagtype1{ color: #CCCC00; }
.tagtype1:visited { color: #CCCC00; }
.tagtype2{ color: #DD00DD; }
.tagtype2:visited{ color: #DD00DD; }
.tagtype3{ color: #00AA00; }
.tagtype3:visited{ color: #00AA00; }
.tagtype4{ color: #0A0; }
.tagtype4:visited{ color: #0A0; }
.tagtype5{ color: #FF2020; }
.tagtype5:visited{ color: #FF2020; }
.tagtype1:hover { color: #33CFFF; }
.tagtype2:hover { color: #33CFFF; }
.tagtype3:hover { color: #33CFFF; }
.tagtype4:hover { color: #33CFFF; }
.tagtype5:hover { color: #33CFFF; }
/********** TAGS END **********/