/********** HEADER START **********/
header nav ul, header nav ul li{ margin:0; padding:0; list-style:none; }
header{ height: 30px; }
header nav{
	position: fixed;
	width:100%;
	z-index:1;
	background-color: black;
	padding-top: 5px;
}

header nav > ul > li{ float: left; }
header nav ul li{
	padding: 0 5px 5px 0;
	border-radius:5px;
}

header > nav li > ul{
	position:absolute;
	z-index:1;
	background-color: black;
	display:none;
	border: 2px solid #222;
}
header > nav li:hover > ul{
	display:block;
}
header > nav li > ul > li{
	padding-left: 5px;
}

/**** search bar ****/
fieldset{
	margin:0;
	padding:0;
	border:none;
}
header nav li form{ float:right; }
#search{
	border:none;
	background-color:#222;
	color:white;
}
#search_list{
	position:absolute;
	background-color: black;
}
@media screen and (max-width:380px){
	#search{
		width: 150px;
	}
}
