@import 'grail';

$padding: 4px;
@import 'header';
@import 'post-list';
@import 'post';

/********** HOLY GRAIL START **********/

#container {
	clear: both
}

@media screen and (max-width:599px) {
	#container aside.post_list_info, #container aside.post_info{
		clear:both;
	}
}

@media screen and (min-width:600px) {	
	$sidebar-width: 150px;
	body
		{ @include grail-body(      $sidebar-width, 0px, $padding ); }
	#container
		{ @include grail-container( $sidebar-width, 0px, $padding ); }
	#container .post_list, #container .post
		{ @include grail-center(    $sidebar-width, 0px, $padding ); }
	#container aside.post_list_info, #container aside.post_info
		{ @include grail-lc(        $sidebar-width, 0px, $padding ); }
	footer { clear: both; }
}

@media screen and (min-width:800px) {	
	$sidebar-width: 190px;
	body
		{ @include grail-body(      $sidebar-width, 0px, $padding ); }
	#container
		{ @include grail-container( $sidebar-width, 0px, $padding ); }
	#container .post_list, #container .post
		{ @include grail-center(    $sidebar-width, 0px, $padding ); }
	#container aside.post_list_info, #container aside.post_info
		{ @include grail-lc(        $sidebar-width, 0px, $padding ); }
	footer { clear: both; }
}


@media screen and (min-width:1290px){
	/* TODO: find good width value */
	.has_comments{
		padding-right: 308px;   /* RC width */
	}
	#container div.comments{
		position: relative;
		float: left;
		width: 292px;          /* LC width */
		margin-right: -300px;
		margin-left: 8px;
	}
}
/********** HOLY GRAIL END **********/



/********** GLOBAL START **********/
body{
	background-color: #000000;
	color: white;
	font-family: verdana, sans-serif;
	font-size: 80%;
	overflow-x:hidden; /* FIX: images sticking out of body on hover causes rearange */
}
a{
	color: #EE8887;
	text-decoration: none;
}
a:visited{ color: #EE8887; }
a:hover{ color: #FFAAAE; }
a:active{ color: #006FFA; }

a img{ border:none; } /* annoying IE (and firefox?) behaviour */

h2:first-child, h3:first-child{ margin-top:0; }
h2, h3{ margin-bottom: 0; }
p{ margin:0; }
ul{
	list-style-type: square;
	margin: 0;
	padding-left: 15px;
}
/********** GLOBAL END **********/


/********** Front page START **********/
#front h1{
	text-align:center;
}
#front img{
	display:block;
	margin: 20px auto;
}
/********** Front page END **********/



/********** PAGE NAV START **********/
nav.page_nav{
	clear:both;

	float:right;
	position:relative;
	left:-50%;
	text-align:left;
}
nav.page_nav ul{ 
	position:relative;
	left:50%;
}
nav.page_nav li{
	display:block;
	float:left;
	clear:none;
	margin: 0 5px 0 0;
	padding: 5px;
	
	line-height: 30px;
	min-height: 30px;
	height: 30px;
	width: 30px;
	text-align:center;
	
	border: 2px solid red;
	border-radius: 2px;
}
nav.page_nav a{
	float:none;
	border: none;
	padding:0;
	margin:0;
}
/********** PAGE NAV END **********/



/********** TAGS START **********/
.tagtype1{ color: #CCCC00; }
.tagtype1:visited { color: #CCCC00; }
.tagtype2{ color: #DD00DD; }
.tagtype2:visited{ color: #DD00DD; }
.tagtype3{ color: #00AA00; }
.tagtype3:visited{ color: #00AA00; }
.tagtype4{ color: #0A0; }
.tagtype4:visited{ color: #0A0; }
.tagtype5{ color: #FF2020; }
.tagtype5:visited{ color: #FF2020; }
.tagtype1:hover { color: #33CFFF; }
.tagtype2:hover { color: #33CFFF; }
.tagtype3:hover { color: #33CFFF; }
.tagtype4:hover { color: #33CFFF; }
.tagtype5:hover { color: #33CFFF; }
/********** TAGS END **********/